## 본인 직접 입력
Building_Age 건물나이

---


JS_Price     전세가격

---


JS_BA        임대면적

---


Sell_Price   판매가

---


IR           금리

---


년월         24년 3월

---

\

## 애매한 컬럼
문제 : 사용자가 정보를 수집하기 번거로운 부분
제안 : 기존 data와 새로운 input을 통해 사용자가 입력하기 힘든 칼럼을 채우기 위한 코드를 작성

---


Population // 인구수\
LC_index // 선행종합지수\
TC_index // 후행종합지수\
SDT_index // 전세수급동향\
Crime_Rates // 범죄율


---


24년 3월, 변수1, 변수2, 변수3, 변수4

---

In [1]:
import pandas as pd
from google.colab import drive


drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data_APT = pd.read_csv('/content/drive/MyDrive/Ultimate_Data/data_APT.csv', encoding='utf-8')
data_APT.info()
data_APT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93453 entries, 0 to 93452
Data columns (total 40 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Building_Age                     93453 non-null  int64
 1   JS_Price                         93453 non-null  int64
 2   JS_BA                            93453 non-null  float64
 3   Population                       93453 non-null  int64
 4   LC_index                         93453 non-null  float64
 5   TC_index                         93453 non-null  float64
 6   SDT_index                        93453 non-null  float64
 7   Sell_Price                       93453 non-null  float64
 8   Crime_Rates                      93453 non-null  float64
 9   IR                               93453 non-null  float64
 10  Region_강남구                       93453 non-null  int64
 11  Region_강동구                       93453 non-null  int64
 12  Region_강북구                       93453 non-null  int64
 13  Region_강서구                       93453 non-null  int64
 14  Region_관악구                       93453 non-null  int64
 15  Region_광진구                       93453 non-null  int64
 16  Region_구로구                       93453 non-null  int64
 17  Region_금천구                       93453 non-null  int64
 18  Region_노원구                       93453 non-null  int64
 19  Region_도봉구                       93453 non-null  int64
 20  Region_동대문구                      93453 non-null  int64
 21  Region_동작구                       93453 non-null  int64
 22  Region_마포구                       93453 non-null  int64
 23  Region_서대문구                      93453 non-null  int64
 24  Region_서초구                       93453 non-null  int64
 25  Region_성동구                       93453 non-null  int64
 26  Region_성북구                       93453 non-null  int64
 27  Region_송파구                       93453 non-null  int64
 28  Region_양천구                       93453 non-null  int64
 29  Region_영등포구                      93453 non-null  int64
 30  Region_용산구                       93453 non-null  int64
 31  Region_은평구                       93453 non-null  int64
 32  Region_종로구                       93453 non-null  int64
 33  Region_중구                        93453 non-null  int64
 34  Region_중랑구                       93453 non-null  int64
 35  Year                             93453 non-null  int64
 36  Month                            93453 non-null  int64
 37  Shortest_Distance_to_Subway      93453 non-null  float64
 38  Shortest_Distance_to_University  93453 non-null  float64
 39  Shortest_Distance_to_School      93453 non-null  float64
dtypes: float64(10), int64(30)
memory usage: 28.5 MB

,Building_Age,JS_Price,JS_BA,Population,LC_index,TC_index,SDT_index,Sell_Price,Crime_Rates,IR,...,Region_용산구,Region_은평구,Region_종로구,Region_중구,Region_중랑구,Year,Month,Shortest_Distance_to_Subway,Shortest_Distance_to_University,Shortest_Distance_to_School
0,15,18000,59.97,299533,72.000000,74.200000,114.099327,31400.00,0.930480,2.75,...,0,0,0,0,0,2011,1,744.388888,1783.606149,370.003165
1,32,30000,84.43,557563,72.000000,74.200000,113.009872,100404.17,0.842083,2.75,...,0,0,0,0,0,2011,1,839.698707,3723.160551,336.123079
2,14,22000,59.82,368260,72.000000,74.200000,113.009872,56836.67,0.836749,2.75,...,0,0,0,0,0,2011,1,351.857009,1517.638732,470.686016
3,25,18000,47.94,494724,72.000000,74.200000,114.099106,82850.00,0.943467,2.75,...,0,0,0,0,0,2011,1,907.582994,3053.953581,180.644334
4,12,23500,149.97,420803,72.000000,74.200000,114.270256,34030.00,0.854310,2.75,...,0,0,0,0,0,2011,1,248.141179,718.700972,318.836190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93448,26,45000,84.20,384272,102.715637,100.768990,132.138962,54000.00,0.779744,3.50,...,0,0,0,0,1,2023,9,255.627811,1952.815142,188.219471
93449,13,40000,59.60,291384,102.715637,100.768990,132.138962,107500.00,0.779744,3.50,...,0,0,0,0,0,2023,9,891.504266,658.072434,238.994104
93450,24,45000,59.97,121441,102.715637,100.768990,132.138962,125000.00,0.779744,3.50,...,0,0,0,1,0,2023,9,256.095668,1840.603558,167.573972
93451,31,30000,58.65,566839,102.715637,100.768990,132.138962,53000.00,0.779744,3.50,...,0,0,0,0,0,2023,9,494.719586,1701.812476,171.601187
93452,33,25000,49.50,500104,102.765205,100.808098,132.138962,42000.00,0.786914,3.50,...,0,0,0,0,0,2023,9,1095.494193,486.959608,89.435944

In [3]:
data_officetel = pd.read_csv('/content/drive/MyDrive/Ultimate_Data/data_officetel.csv', encoding='utf-8')
data_officetel.info()
data_officetel

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72646 entries, 0 to 72645
Data columns (total 40 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Building_Age                     72646 non-null  int64
 1   JS_Price                         72646 non-null  int64
 2   JS_BA                            72646 non-null  float64
 3   Population                       72646 non-null  int64
 4   LC_index                         72646 non-null  float64
 5   TC_index                         72646 non-null  float64
 6   SDT_index                        72646 non-null  float64
 7   Sell_Price                       72646 non-null  float64
 8   Crime_Rates                      72646 non-null  float64
 9   IR                               72646 non-null  float64
 10  Region_강남구                       72646 non-null  int64
 11  Region_강동구                       72646 non-null  int64
 12  Region_강북구                       72646 non-null  int64
 13  Region_강서구                       72646 non-null  int64
 14  Region_관악구                       72646 non-null  int64
 15  Region_광진구                       72646 non-null  int64
 16  Region_구로구                       72646 non-null  int64
 17  Region_금천구                       72646 non-null  int64
 18  Region_노원구                       72646 non-null  int64
 19  Region_도봉구                       72646 non-null  int64
 20  Region_동대문구                      72646 non-null  int64
 21  Region_동작구                       72646 non-null  int64
 22  Region_마포구                       72646 non-null  int64
 23  Region_서대문구                      72646 non-null  int64
 24  Region_서초구                       72646 non-null  int64
 25  Region_성동구                       72646 non-null  int64
 26  Region_성북구                       72646 non-null  int64
 27  Region_송파구                       72646 non-null  int64
 28  Region_양천구                       72646 non-null  int64
 29  Region_영등포구                      72646 non-null  int64
 30  Region_용산구                       72646 non-null  int64
 31  Region_은평구                       72646 non-null  int64
 32  Region_종로구                       72646 non-null  int64
 33  Region_중구                        72646 non-null  int64
 34  Region_중랑구                       72646 non-null  int64
 35  Year                             72646 non-null  int64
 36  Month                            72646 non-null  int64
 37  Shortest_Distance_to_Subway      72646 non-null  float64
 38  Shortest_Distance_to_University  72646 non-null  float64
 39  Shortest_Distance_to_School      72646 non-null  float64
dtypes: float64(10), int64(30)
memory usage: 22.2 MB

,Building_Age,JS_Price,JS_BA,Population,LC_index,TC_index,SDT_index,Sell_Price,Crime_Rates,IR,...,Region_용산구,Region_은평구,Region_종로구,Region_중구,Region_중랑구,Year,Month,Shortest_Distance_to_Subway,Shortest_Distance_to_University,Shortest_Distance_to_School
0,20,7000,22.77,557563,72.000000,74.200000,112.372055,9250.00,1.204801,2.75,...,0,0,0,0,0,2011,1,625.868025,1450.060983,405.257077
1,8,13000,40.56,557563,72.000000,74.200000,114.326378,24400.00,1.492879,2.75,...,0,0,0,0,0,2011,1,730.847519,469.699738,548.727230
2,6,22000,57.27,557563,72.000000,74.200000,112.364861,33733.33,1.207107,2.75,...,0,0,0,0,0,2011,1,452.912990,1360.509083,154.541041
3,7,14000,35.34,557563,72.000000,74.200000,112.765800,19500.00,1.095930,2.75,...,0,0,0,0,0,2011,1,431.552415,1398.985052,155.616332
4,4,14000,56.04,486546,72.000000,74.200000,114.199348,19450.00,0.906058,2.75,...,0,0,0,0,0,2011,1,855.278859,1933.788220,329.033365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72641,17,17000,30.06,365111,102.798141,100.698433,132.138962,19000.00,0.790133,3.50,...,0,0,0,0,0,2023,9,278.166797,946.585532,381.300209
72642,3,21400,18.63,279374,102.782471,100.685158,132.138962,24900.00,0.789744,3.50,...,0,0,0,0,0,2023,9,505.463661,1416.396158,285.447552
72643,12,23000,39.49,657101,102.776405,100.783096,132.138962,25300.00,0.783187,3.50,...,0,0,0,0,0,2023,9,251.077067,2769.771994,455.610522
72644,2,21500,29.41,376139,102.804169,100.823219,132.138962,21000.00,0.786638,3.50,...,0,0,0,0,0,2023,9,220.046666,3189.431156,451.910210
72645,6,27500,28.60,376139,102.786888,100.809357,132.140274,31500.00,0.788815,3.50,...,0,0,0,0,0,2023,9,304.340665,3187.813074,472.632662

In [4]:
data_townhouse = pd.read_csv('/content/drive/MyDrive/Ultimate_Data/data_townhouse.csv', encoding='utf-8')
data_townhouse.info()
data_townhouse

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56179 entries, 0 to 56178
Data columns (total 40 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Building_Age                     56179 non-null  int64
 1   JS_Price                         56179 non-null  int64
 2   JS_BA                            56179 non-null  float64
 3   Population                       56179 non-null  int64
 4   LC_index                         56179 non-null  float64
 5   TC_index                         56179 non-null  float64
 6   SDT_index                        56179 non-null  float64
 7   Sell_Price                       56179 non-null  float64
 8   Crime_Rates                      56179 non-null  float64
 9   IR                               56179 non-null  float64
 10  Region_강남구                       56179 non-null  int64
 11  Region_강동구                       56179 non-null  int64
 12  Region_강북구                       56179 non-null  int64
 13  Region_강서구                       56179 non-null  int64
 14  Region_관악구                       56179 non-null  int64
 15  Region_광진구                       56179 non-null  int64
 16  Region_구로구                       56179 non-null  int64
 17  Region_금천구                       56179 non-null  int64
 18  Region_노원구                       56179 non-null  int64
 19  Region_도봉구                       56179 non-null  int64
 20  Region_동대문구                      56179 non-null  int64
 21  Region_동작구                       56179 non-null  int64
 22  Region_마포구                       56179 non-null  int64
 23  Region_서대문구                      56179 non-null  int64
 24  Region_서초구                       56179 non-null  int64
 25  Region_성동구                       56179 non-null  int64
 26  Region_성북구                       56179 non-null  int64
 27  Region_송파구                       56179 non-null  int64
 28  Region_양천구                       56179 non-null  int64
 29  Region_영등포구                      56179 non-null  int64
 30  Region_용산구                       56179 non-null  int64
 31  Region_은평구                       56179 non-null  int64
 32  Region_종로구                       56179 non-null  int64
 33  Region_중구                        56179 non-null  int64
 34  Region_중랑구                       56179 non-null  int64
 35  Year                             56179 non-null  int64
 36  Month                            56179 non-null  int64
 37  Shortest_Distance_to_Subway      56179 non-null  float64
 38  Shortest_Distance_to_University  56179 non-null  float64
 39  Shortest_Distance_to_School      56179 non-null  float64
dtypes: float64(10), int64(30)
memory usage: 17.1 MB

,Building_Age,JS_Price,JS_BA,Population,LC_index,TC_index,SDT_index,Sell_Price,Crime_Rates,IR,...,Region_용산구,Region_은평구,Region_종로구,Region_중구,Region_중랑구,Year,Month,Shortest_Distance_to_Subway,Shortest_Distance_to_University,Shortest_Distance_to_School
0,10,23000,64.64,557563,72.000000,74.200000,113.800797,35000.00,1.466284,2.75,...,0,0,0,0,0,2011,1,816.989380,2469.693605,411.014080
1,1,17000,45.63,486546,72.000000,74.200000,114.099106,24500.00,0.942699,2.75,...,0,0,0,0,0,2011,1,957.106297,3034.365920,357.122247
2,17,12000,49.46,486546,72.000000,74.200000,112.765800,19950.00,1.098977,2.75,...,0,0,0,0,0,2011,1,648.569915,2002.767428,497.931692
3,1,15000,39.23,486546,72.000000,74.200000,113.792618,20566.67,1.462803,2.75,...,0,0,0,0,0,2011,1,168.703930,2254.472613,461.588372
4,1,15000,41.95,486546,72.000000,74.200000,113.792618,20566.67,1.462803,2.75,...,0,0,0,0,0,2011,1,168.703930,2254.472613,461.588372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56174,7,20200,29.85,438353,102.791817,100.847015,132.138962,24250.00,0.790844,3.50,...,0,0,0,0,0,2023,9,707.596340,1470.697291,468.822685
56175,0,20000,29.78,217288,102.715637,100.768990,132.138962,52000.00,0.779744,3.50,...,1,0,0,0,0,2023,9,803.757406,1242.808277,162.978319
56176,8,20000,34.79,463298,102.773193,100.809357,132.138962,29400.00,0.786914,3.50,...,0,1,0,0,0,2023,9,346.127598,2848.928516,336.668598
56177,5,18000,24.93,384272,102.804169,100.823219,132.138962,21000.00,0.790149,3.50,...,0,0,0,0,1,2023,9,296.362951,1574.826226,495.776743
56178,5,18000,24.93,384272,102.715637,100.768990,132.138962,21000.00,0.779744,3.50,...,0,0,0,0,1,2023,9,296.362951,1574.826226,495.776743

In [3]:
import pandas as pd
data_townhouse_nan = pd.read_csv('/content/data_townhouse_modified.csv', encoding = 'euc-kr')
data_townhouse_nan.info()
data = data_townhouse_nan
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56179 entries, 0 to 56178
Data columns (total 42 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Building_Age                     56179 non-null  int64
 1   JS_Price                         56179 non-null  int64
 2   JS_BA                            56179 non-null  float64
 3   Population                       56178 non-null  float64
 4   LC_index                         56179 non-null  int64
 5   TC_index                         56179 non-null  float64
 6   SDT_index                        56179 non-null  float64
 7   Sell_Price                       56179 non-null  float64
 8   Crime_Rates                      56179 non-null  float64
 9   IR                               56178 non-null  float64
 10  Region_강남구                       56179 non-null  int64
 11  Region_강동구                       56179 non-null  int64
 12  Region_강북구                       56179 non-null  int64
 13  Region_강서구                       56179 non-null  int64
 14  Region_관악구                       56179 non-null  int64
 15  Region_광진구                       56179 non-null  int64
 16  Region_구로구                       56179 non-null  int64
 17  Region_금천구                       56179 non-null  int64
 18  Region_노원구                       56179 non-null  int64
 19  Region_도봉구                       56179 non-null  int64
 20  Region_동대문구                      56179 non-null  int64
 21  Region_동작구                       56179 non-null  int64
 22  Region_마포구                       56179 non-null  int64
 23  Region_서대문구                      56179 non-null  int64
 24  Region_서초구                       56179 non-null  int64
 25  Region_성동구                       56179 non-null  int64
 26  Region_성북구                       56179 non-null  int64
 27  Region_송파구                       56179 non-null  int64
 28  Region_양천구                       56179 non-null  int64
 29  Region_영등포구                      56179 non-null  int64
 30  Region_용산구                       56179 non-null  int64
 31  Region_은평구                       56179 non-null  int64
 32  Region_종로구                       56179 non-null  int64
 33  Region_중구                        56179 non-null  int64
 34  Region_중랑구                       56179 non-null  int64
 35  Year                             56179 non-null  int64
 36  Month                            56179 non-null  int64
 37  Shortest_Distance_to_Subway      56179 non-null  float64
 38  Shortest_Distance_to_University  56179 non-null  float64
 39  Shortest_Distance_to_School      56179 non-null  float64
 40  위도                               56179 non-null  float64
 41  경도                               56179 non-null  float64
dtypes: float64(12), int64(30)
memory usage: 18.0 MB

,Building_Age,JS_Price,JS_BA,Population,LC_index,TC_index,SDT_index,Sell_Price,Crime_Rates,IR,...,Region_종로구,Region_중구,Region_중랑구,Year,Month,Shortest_Distance_to_Subway,Shortest_Distance_to_University,Shortest_Distance_to_School,위도,경도
0,10,23000,64.64,NaN,72,74.200000,113.800797,35000.00,1.466284,NaN,...,0,0,0,2011,1,816.989380,2469.693605,411.014080,37.495968,127.043258
1,1,17000,45.63,486546.0,72,74.200000,114.099106,24500.00,0.942699,2.75,...,0,0,0,2011,1,957.106297,3034.365920,357.122247,37.551542,127.138233
2,17,12000,49.46,486546.0,72,74.200000,112.765800,19950.00,1.098977,2.75,...,0,0,0,2011,1,648.569915,2002.767428,497.931692,37.536155,127.140008
3,1,15000,39.23,486546.0,72,74.200000,113.792618,20566.67,1.462803,2.75,...,0,0,0,2011,1,168.703930,2254.472613,461.588372,37.550128,127.129432
4,1,15000,41.95,486546.0,72,74.200000,113.792618,20566.67,1.462803,2.75,...,0,0,0,2011,1,168.703930,2254.472613,461.588372,37.550128,127.129432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56174,7,20200,29.85,438353.0,103,100.847015,132.138962,24250.00,0.790844,3.50,...,0,0,0,2023,9,707.596340,1470.697291,468.822685,37.542412,126.869706
56175,0,20000,29.78,217288.0,103,100.768990,132.138962,52000.00,0.779744,3.50,...,0,0,0,2023,9,803.757406,1242.808277,162.978319,37.533164,126.954626
56176,8,20000,34.79,463298.0,103,100.809357,132.138962,29400.00,0.786914,3.50,...,0,0,0,2023,9,346.127598,2848.928516,336.668598,37.625645,126.920566
56177,5,18000,24.93,384272.0,103,100.823219,132.138962,21000.00,0.790149,3.50,...,0,0,1,2023,9,296.362951,1574.826226,495.776743,37.594435,127.079118
56178,5,18000,24.93,384272.0,103,100.768990,132.138962,21000.00,0.779744,3.50,...,0,0,1,2023,9,296.362951,1574.826226,495.776743,37.594435,127.079118

# LightGBM Imputation Test (Population, IR)

In [13]:
import pandas as pd
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

# Load your dataset


# Step 1: Split the data into subsets with and without missing values for both 'Population' and 'IR'
data_with_missing = data[data['Population'].isnull() | data['IR'].isnull()]
data_without_missing = data.dropna(subset=['Population', 'IR'])

# Check if there are missing values to impute
if not data_with_missing.empty:
    # Step 2: Train separate LightGBM models for each target column
    for target_column in ['Population', 'IR']:
        X = data_without_missing.drop(columns=[target_column])
        y = data_without_missing[target_column]

        lgb_model = lgb.LGBMRegressor(n_estimators=1000, random_state=142)
        lgb_model.fit(X, y)

        # Step 3: Use the trained model to predict missing values for each target column
        imputed_values = lgb_model.predict(data_with_missing.drop(columns=[target_column]))

        # Fill in missing values in the original dataset for the specific target column
        data.loc[data_with_missing.index, target_column] = imputed_values

        # Step 4: Split the dataset for evaluation (optional)
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=234)

        # Step 5: Calculate RMSE on the test set to evaluate the model (optional)
        y_true = data_with_missing[target_column]  # True values of the missing column
        y_pred = imputed_values  # Predicted values
        rmse = np.sqrt(mean_squared_error(y_true, y_pred))
        print(f"RMSE for {target_column}: {rmse}")

else:
    print("No missing values to impute in the columns")

# Assuming 'data' is the DataFrame you want to inspect at the end
data.info()
data

No missing values to impute in the columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56179 entries, 0 to 56178
Data columns (total 42 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Building_Age                     56179 non-null  int64
 1   JS_Price                         56179 non-null  int64
 2   JS_BA                            56179 non-null  float64
 3   Population                       56179 non-null  float64
 4   LC_index                         56179 non-null  int64
 5   TC_index                         56179 non-null  float64
 6   SDT_index                        56179 non-null  float64
 7   Sell_Price                       56179 non-null  float64
 8   Crime_Rates                      56179 non-null  float64
 9   IR                               56179 non-null  float64
 10  Region_강남구                       56179 non-null  int64
 11  Region_강동구                       56179 non-null  int64
 12  Region_강북구                       56179 non-null  int64
 13  Region_강서구                       56179 non-null  int64
 14  Region_관악구                       56179 non-null  int64
 15  Region_광진구                       56179 non-null  int64
 16  Region_구로구                       56179 non-null  int64
 17  Region_금천구                       56179 non-null  int64
 18  Region_노원구                       56179 non-null  int64
 19  Region_도봉구                       56179 non-null  int64
 20  Region_동대문구                      56179 non-null  int64
 21  Region_동작구                       56179 non-null  int64
 22  Region_마포구                       56179 non-null  int64
 23  Region_서대문구                      56179 non-null  int64
 24  Region_서초구                       56179 non-null  int64
 25  Region_성동구                       56179 non-null  int64
 26  Region_성북구                       56179 non-null  int64
 27  Region_송파구                       56179 non-null  int64
 28  Region_양천구                       56179 non-null  int64
 29  Region_영등포구                      56179 non-null  int64
 30  Region_용산구                       56179 non-null  int64
 31  Region_은평구                       56179 non-null  int64
 32  Region_종로구                       56179 non-null  int64
 33  Region_중구                        56179 non-null  int64
 34  Region_중랑구                       56179 non-null  int64
 35  Year                             56179 non-null  int64
 36  Month                            56179 non-null  int64
 37  Shortest_Distance_to_Subway      56179 non-null  float64
 38  Shortest_Distance_to_University  56179 non-null  float64
 39  Shortest_Distance_to_School      56179 non-null  float64
 40  위도                               56179 non-null  float64
 41  경도                               56179 non-null  float64
dtypes: float64(12), int64(30)
memory usage: 18.0 MB

,Building_Age,JS_Price,JS_BA,Population,LC_index,TC_index,SDT_index,Sell_Price,Crime_Rates,IR,...,Region_종로구,Region_중구,Region_중랑구,Year,Month,Shortest_Distance_to_Subway,Shortest_Distance_to_University,Shortest_Distance_to_School,위도,경도
0,10,23000,64.64,560292.472849,72,74.200000,113.800797,35000.00,1.466284,2.749971,...,0,0,0,2011,1,816.989380,2469.693605,411.014080,37.495968,127.043258
1,1,17000,45.63,486546.000000,72,74.200000,114.099106,24500.00,0.942699,2.750000,...,0,0,0,2011,1,957.106297,3034.365920,357.122247,37.551542,127.138233
2,17,12000,49.46,486546.000000,72,74.200000,112.765800,19950.00,1.098977,2.750000,...,0,0,0,2011,1,648.569915,2002.767428,497.931692,37.536155,127.140008
3,1,15000,39.23,486546.000000,72,74.200000,113.792618,20566.67,1.462803,2.750000,...,0,0,0,2011,1,168.703930,2254.472613,461.588372,37.550128,127.129432
4,1,15000,41.95,486546.000000,72,74.200000,113.792618,20566.67,1.462803,2.750000,...,0,0,0,2011,1,168.703930,2254.472613,461.588372,37.550128,127.129432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56174,7,20200,29.85,438353.000000,103,100.847015,132.138962,24250.00,0.790844,3.500000,...,0,0,0,2023,9,707.596340,1470.697291,468.822685,37.542412,126.869706
56175,0,20000,29.78,217288.000000,103,100.768990,132.138962,52000.00,0.779744,3.500000,...,0,0,0,2023,9,803.757406,1242.808277,162.978319,37.533164,126.954626
56176,8,20000,34.79,463298.000000,103,100.809357,132.138962,29400.00,0.786914,3.500000,...,0,0,0,2023,9,346.127598,2848.928516,336.668598,37.625645,126.920566
56177,5,18000,24.93,384272.000000,103,100.823219,132.138962,21000.00,0.790149,3.500000,...,0,0,1,2023,9,296.362951,1574.826226,495.776743,37.594435,127.079118
56178,5,18000,24.93,384272.000000,103,100.768990,132.138962,21000.00,0.779744,3.500000,...,0,0,1,2023,9,296.362951,1574.826226,495.776743,37.594435,127.079118

Variables to impute:
Population
LC_index
TC_index
SDT_index
Crime_Rates

In [ ]:
import pandas as pd
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

# Load your dataset

data = data_APT

# Step 1: Split the data into subsets with and without missing values for both 'Population' and 'IR'
data_with_missing = data[data['Population'].isnull() | data['LC_index'].isnull() | data['TC_index'].isnull() | data['SDT_index'].isnull() | data['Crime_Rates'].isnull()]
data_without_missing = data.dropna(subset=['Population', 'LC_index', 'TC_index', 'SDT_index', 'Crime_Rates'])

# Check if there are missing values to impute
if not data_with_missing.empty:
    # Step 2: Train separate LightGBM models for each target column
    for target_column in ['Population', 'LC_index', 'TC_index', 'SDT_index', 'Crime_Rates']:
        X = data_without_missing.drop(columns=[target_column])
        y = data_without_missing[target_column]

        lgb_model = lgb.LGBMRegressor(n_estimators=1000, random_state=142)
        lgb_model.fit(X, y)

        # Step 3: Use the trained model to predict missing values for each target column
        imputed_values = lgb_model.predict(data_with_missing.drop(columns=[target_column]))

        # Fill in missing values in the original dataset for the specific target column
        data.loc[data_with_missing.index, target_column] = imputed_values

        # Step 4: Split the dataset for evaluation (optional)
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=234)

        # Step 5: Calculate RMSE on the test set to evaluate the model (optional)
        y_true = data_with_missing[target_column]  # True values of the missing column
        y_pred = imputed_values  # Predicted values
        rmse = np.sqrt(mean_squared_error(y_true, y_pred))
        print(f"RMSE for {target_column}: {rmse}")

else:
    print("No missing values to impute in the columns")


data_APT = data
data_APT.info()
data_APT

In [ ]:
import pandas as pd
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

# Load your dataset

data = data_officetel

# Step 1: Split the data into subsets with and without missing values for both 'Population' and 'IR'
data_with_missing = data[data['Population'].isnull() | data['LC_index'].isnull() | data['TC_index'].isnull() | data['SDT_index'].isnull() | data['Crime_Rates'].isnull()]
data_without_missing = data.dropna(subset=['Population', 'LC_index', 'TC_index', 'SDT_index', 'Crime_Rates'])

# Check if there are missing values to impute
if not data_with_missing.empty:
    # Step 2: Train separate LightGBM models for each target column
    for target_column in ['Population', 'LC_index', 'TC_index', 'SDT_index', 'Crime_Rates']:
        X = data_without_missing.drop(columns=[target_column])
        y = data_without_missing[target_column]

        lgb_model = lgb.LGBMRegressor(n_estimators=1000, random_state=142)
        lgb_model.fit(X, y)

        # Step 3: Use the trained model to predict missing values for each target column
        imputed_values = lgb_model.predict(data_with_missing.drop(columns=[target_column]))

        # Fill in missing values in the original dataset for the specific target column
        data.loc[data_with_missing.index, target_column] = imputed_values

        # Step 4: Split the dataset for evaluation (optional)
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=234)

        # Step 5: Calculate RMSE on the test set to evaluate the model (optional)
        y_true = data_with_missing[target_column]  # True values of the missing column
        y_pred = imputed_values  # Predicted values
        rmse = np.sqrt(mean_squared_error(y_true, y_pred))
        print(f"RMSE for {target_column}: {rmse}")

else:
    print("No missing values to impute in the columns")


data_officetel = data
data_officetel.info()
data_officetel

In [ ]:
import pandas as pd
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

# Load your dataset

data = data_townhouse

# Step 1: Split the data into subsets with and without missing values for both 'Population' and 'IR'
data_with_missing = data[data['Population'].isnull() | data['LC_index'].isnull() | data['TC_index'].isnull() | data['SDT_index'].isnull() | data['Crime_Rates'].isnull()]
data_without_missing = data.dropna(subset=['Population', 'LC_index', 'TC_index', 'SDT_index', 'Crime_Rates'])

# Check if there are missing values to impute
if not data_with_missing.empty:
    # Step 2: Train separate LightGBM models for each target column
    for target_column in ['Population', 'LC_index', 'TC_index', 'SDT_index', 'Crime_Rates']:
        X = data_without_missing.drop(columns=[target_column])
        y = data_without_missing[target_column]

        lgb_model = lgb.LGBMRegressor(n_estimators=1000, random_state=142)
        lgb_model.fit(X, y)

        # Step 3: Use the trained model to predict missing values for each target column
        imputed_values = lgb_model.predict(data_with_missing.drop(columns=[target_column]))

        # Fill in missing values in the original dataset for the specific target column
        data.loc[data_with_missing.index, target_column] = imputed_values

        # Step 4: Split the dataset for evaluation (optional)
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=234)

        # Step 5: Calculate RMSE on the test set to evaluate the model (optional)
        y_true = data_with_missing[target_column]  # True values of the missing column
        y_pred = imputed_values  # Predicted values
        rmse = np.sqrt(mean_squared_error(y_true, y_pred))
        print(f"RMSE for {target_column}: {rmse}")

else:
    print("No missing values to impute in the columns")


data_townhouse = data
data_townhouse.info()
data_townhouse